@import url("https://rsms.me/inter/inter.css");

@tailwind base;
@tailwind components;

:root {
  /* @apply bg-gray-light text-xs; */
}

#root {
  height: 100%;
  background: #f5f5f5;
}

html {
  --antd-wave-shadow-color: #bfbfbf !important;
}

.topTitleBtn {
  @apply my-2 mx-2 w-6 h-6 bg-gray-arrow cursor-pointer rounded-rounded;
}
.topTitleSpan {
  @apply text-center text-textColor-white;
}
.ant-skeleton-content .ant-skeleton-title + .ant-skeleton-paragraph {
  margin: 0;
}
.ant-skeleton-content .ant-skeleton-title {
  margin: 0;
}
.ant-tabs-tab-btn {
  font-size: 16px;
  transition: none;
  color: #bfbfbf;
}
.ui--switchTabs-lg .ant-tabs-ink-bar {
  background: #040b38;
}
.ant-tabs-top > .ant-tabs-nav,
.ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-top > div > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav {
  margin: 0;
}
::selection {
  color: #bfbfbf !important;
  background: #fff !important;
}
.ant-table-cell {
  font-size: 12px;
}
.ant-table-thead > tr > th {
  color: #272233;
  font-weight: 600;
  background: #fff;
  border-bottom: 0;
  padding: 18px 6px;
}
.ant-table-thead > tr > th:last-child {
  text-align: right;
}
.ant-table-tbody > .ant-table-row > .ant-table-cell:last-child {
  text-align: right;
}
.ant-table-tbody > .ant-table-row > .ant-table-cell {
  border-bottom: 0;
  padding: 11px 10px;
}
.ant-tabs-tab-btn:focus,
.ant-tabs-tab-remove:focus,
.ant-tabs-tab-btn:active,
.ant-tabs-tab-remove:active {
  color: #bfbfbf;
}
.ant-table-tbody > .ant-table-row:nth-of-type(odd) {
  background: #f2f5f9;
}
.ant-pagination .ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ant-pagination-item.ant-pagination-item-active {
  background: #040b38;
  border-radius: 2px;
  font-size: 14px;
  border: 1px solid #e3e3e3;
}
.ant-pagination-item-active a {
  color: #ffffff;
}
.ant-pagination-item:focus-visible,
.ant-pagination-item:hover {
  border-color: #040b38;
  color: #040b38;
  transition: all 0.3s;
}
.ant-pagination-item:focus-visible a,
.ant-pagination-item a:hover {
  color: #040b38;
}
.ant-pagination-item-active:focus-visible a,
.ant-pagination-item-active a:hover {
  color: #fff;
}
.ant-pagination-prev:focus-visible .ant-pagination-item-link,
.ant-pagination-next:focus-visible .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  border-color: #040b38;
  color: #040b38;
}
.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-link-icon,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #040b38;
}
.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  line-height: 26px;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #aeaeae;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #aeaeae;
}
::-webkit-scrollbar-thumb:hover {
}
.ui--switchTabs-lg .ant-tabs-nav {
  padding: 0 20px;
}
.ui--switchTabs-lg .ant-tabs-tab {
  font-size: 16px;
  color: #bfbfbf;
}
.ant-tabs-tab:hover {
  color: #bfbfbf;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #272233;
}

.ant-input:focus {
  box-shadow: none;
}
.ant-input-affix-wrapper {
  border-radius: 8px 0px 0px 8px !important;
}
.ant-btn-primary {
  color: #fff;
  width: 106px;
  background: #040b38 !important;
  border-color: #040b38 !important;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
  border-radius: 0px 8px 8px 0px !important;
}
.ant-input-suffix {
  cursor: pointer;
}

.topSearch .ant-btn-primary {
  width: 96px;
}
.topSearch .ant-btn > span {
  height: 14px;
  font-size: 12px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 14px;
}
.topSearch .ant-input-group .ant-input {
  height: 25px;
  /* height: 14px; */
  font-size: 12px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #504862;
  line-height: 14px;
}

.topSearch .ant-input-search-large .ant-input-search-button {
  height: 40px;
  z-index: 2;
}
.Search .ant-btn-primary {
  width: 110px;
}
.Search .ant-btn > span {
  height: 14px;
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #ffffff;
  line-height: 14px;
}
.Search .ant-input-group .ant-input {
  height: 35px;
  font-size: 14px;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: #504862;
  line-height: 14px;
}

.Search .ant-input-search-large .ant-input-search-button {
  height: 50px;
  z-index: 2;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
  border-right-width: 0px !important;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #d9d9d9 !important;
  border-right-width: 0px !important;
}

#searchButton {
  border: orangered 1px solid;
}

@tailwind utilities;
